* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/background.png");
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  color: white;
  transform: translateY(-50%);
  
}

.content h2 {
  font-size: 70px;
  margin-top: 80px;
  
}

.content p {
  margin: 20px auto;
  line-height: 5px;
  
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #58A0C8;
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
 
}
button a {color: white;
text-decoration: none;}

span {
  background-color: #58A0C8;
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  z-index: -1;
  transition: 500ms all;
  
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}


